<div class="text-left mt-2">
  <div class="d-flex justify-content-between">
    <div>
      <%= link_to "https://twitter.com/#{User.find(feedback.user_id).nickname}", :class => 'btn', :style => 'padding: 0px;'  do %>
        <img src="<%= User.find(feedback.user_id).image %>" class="rounded-circle" id="profile-image">
      <% end %>
      <span class="align-middle" id="feedback-username"><%= User.find(feedback.user_id).name %></span>
    </div>
    <div class="my-auto" id='star_rating_<%= feedback.id %>'></div>
  </div>
  <% if feedback.content? %>
    <p class="content mt-2" id="feedback-content"><%= feedback.content %></p>
  <% end %>

</div>

<script>
$('#star_rating_<%= feedback.id %>').raty('destroy');
$('#star_rating_<%= feedback.id %>').raty({
  number: 5,
  starOff: '/assets/star-off-10.png',
  starOn: '/assets/star-on-10.png',
  readOnly: true,
  score: <%= feedback.rating %>
});
</script>
