<div class="text-left mt-2">
    <div class="container p-0">
      <div class="d-flex flex-row">
        <%= link_to "https://twitter.com/#{User.find(feedback.user_id).nickname}", :class => 'btn align-top', :style => 'padding: 0px;'  do %>
          <img src="<%= User.find(feedback.user_id).image %>" class="rounded-circle" id="feedback-profile-image">
        <% end %>

        <div class="ml-3">
          <div class="align-top" id="feedback-username"><%= User.find(feedback.user_id).name %></div>
          <div id="feedback-timestamp"><%= feedback.created_at.strftime('%Y/%m/%d %H:%M') %></div>
          <div id='star_rating_<%= feedback.id %>'></div>
          <% if feedback.content? %>
            <p class="content mt-3 mb-3 font-weight-light" id="feedback-content"><%= feedback.content %></p>
          <% end %>
        </div>
      </div>
    </div>
  <hr class="m-2" />
</div>

<script>
$('#star_rating_<%= feedback.id %>').raty('destroy');
$('#star_rating_<%= feedback.id %>').raty({
  number: 5,
  starOff: '<%= asset_path "star-off-10.png" %>',
  starOn: '<%= asset_path "star-on-10.png" %>',
  readOnly: true,
  score: <%= feedback.rating %>
});
</script>
