<div class="text-left mt-2">
  <div class="d-flex justify-content-between">
    <div>
      <%= link_to "https://twitter.com/#{User.find(feedback.user_id).nickname}", :class => 'btn align-top', :style => 'padding: 0px;'  do %>
        <img src="<%= User.find(feedback.user_id).image %>" class="rounded-circle" id="profile-image">
      <% end %>
      <div class="ml-3" style="display:inline-block;">
        <span class="align-top" id="feedback-username"><%= User.find(feedback.user_id).name %></span>
        <div id="feedback-timestamp"><%= feedback.created_at.strftime('%Y/%m/%d %H:%M') %></div>
      </div>
    </div>
    <div class="my-auto" id='star_rating_<%= feedback.id %>'></div>
  </div>
  <% if feedback.content? %>
    <p class="content mt-2 ml-2 font-weight-light" id="feedback-content"><%= feedback.content %></p>
  <% end %>
  <hr class="m-2" />
</div>

<script>
$('#star_rating_<%= feedback.id %>').raty('destroy');
$('#star_rating_<%= feedback.id %>').raty({
  number: 5,
  starOff: '<%= asset_path "star-off-10.png" %>',
  starOn: '<%= asset_path "star-on-10.png" %>',
  readOnly: true,
  score: <%= feedback.rating %>
});
</script>
