<div class="container" id="send-feedback-container">
  <h4>
    フィードバックを送って応援しよう！
  </h4>
  <% if user_signed_in? %>
    <%= form_for @feedback, :url => { :action => :create } do |f| %>
      <div class="row">
        <div class="container mt-3 mb-3">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-info btn-sm active">
              <%= f.radio_button :feedback_type, "all", :class => "form-check-input" %>
              All
            </label>
            <label class="btn btn-outline-info btn-sm">
              <%= f.radio_button :feedback_type, "request", :class => "form-check-input" %>
              要望
            </label>
            <label class="btn btn-outline-info btn-sm">
              <%= f.radio_button :feedback_type, "question", :class => "form-check-input" %>
              質問
            </label>
            <label class="btn btn-outline-info btn-sm">
              <%= f.radio_button :feedback_type, "thought", :class => "form-check-input" %>
              感想
            </label>
          </div>
        </div>

        <div class="ml-3 mt-3" id="star">
          <%= f.hidden_field :rating, id: :post_rating %>
        </div>
        <div class="col-12 form-group mt-3">
          <%= f.text_area :content, class: "form-control", style: "height: 200px;", placeholder: "欲しい機能や質問、感想などを書いてください..." %>
          <p class="text-secondary p-0" style="font-size: 14px;">
            評価またはレビューのどちらかを入力していれば送信できます。
          </p>
          <p class="text-danger">
            <%= @feedback.errors.messages[:content][0] if @feedback.errors.messages[:content].any? %>
          </p>
        </div>
        <div class="container text-center mt-3 mb-5">
          <%= f.submit "フィードバックを送る", class: "btn btn-info" %>
        </div>

        <p class="text-secondary mt-3 mb-5" style="font-size: 14px;">
          ※フィードバックを送信後、製作者の方からTwitterにメッセージが来るかもしれません。許諾される方は「プライバシーとセキュリティー」で「すべてのユーザーからダイレクトメッセージを受信する」 にチェックを入れてください。
        </p>
      </div>
    <% end %>
  <% else %>
    <p class="text-secondary font-weight-light" id="need-login">
      フィードバックを送るにはログインが必要です。下のボタンからログインしてください。
    </p>
    <div class="text-center">
      <%= link_to user_twitter_omniauth_authorize_path do %>
        <div class="btn btn-info mt-3 mb-5" id="twitter-login-button">
          Twitterでログイン
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<script>
$('#star').raty({
  starOff: '<%= asset_path "star-off-30.png" %>',
  starOn: '<%= asset_path "star-on-30.png" %>',
  click: function(score, e) {
    $("#post_rating").val(score)
  }
});
</script>
