<div class="container-fluid">
  <%= render 'shared/navbar' %>

  <div class="container" id="post-detail-container">
    <div class="mb-2">
      <div class="d-flex justify-content-between">
        <div>
          <%= link_to "https://twitter.com/#{User.find(@post.user_id).nickname}", :class => 'btn', :style => 'padding: 0px;'  do %>
            <img src="<%= User.find(@post.user_id).image %>" class="rounded-circle" id="profile-image">
          <% end %>
          <span class="align-middle " id="feedback-username"><%= User.find(@post.user_id).name %></span>
        </div>
        <% if user_signed_in? %>
          <% if @post.user_id == current_user.id %>
            <%= link_to edit_user_post_path(:user_id => current_user[:nickname], :id => @post.id), :class => 'my-auto' do %>
              <div class="btn text-info" id="edit-post">
                投稿を編集
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <img src="<%= @post.image.url %>" class="img-fluid">
    <div class="text-left">
      <span id="post-title"><%= @post.title %></span>
    </div>
    <div class="text-left">
      <span class="font-weight-light" id="post-content"><%= @post.content %></span>
    </div>
    <% if user_signed_in? %>
      <% if @post.user_id == current_user.id %>
        <div class="mt-3">
          <% if @post.rating != nil && @post.rating != 0 %>
            <span id="rating"><%= @post.rating.round(1) %></span>
          <% end %>
          <span id='star_rating'></span>
          <span id="rating-count">
            <% if @post.rating_count != nil && @post.rating_count != 0 %>
              <%= @post.rating_count %>人が評価しています
            <% else %>
              まだ評価されていません
            <% end %>
          </span>
        </div>
      <% end %>
    <% end %>

    <div class="d-flex justify-content-between">
      <%= link_to @post.url, :target=>["_blank"] do %>
        <div class="btn btn-outline-info" id="url-button">
          サービス・アプリのページへ
        </div>
      <% end %>
      <% if user_signed_in? %>
        <% if @post.user_id == current_user.id %>
          <%= link_to "https://twitter.com/intent/tweet?text="+u("#{@post.content}\n")+"&url="+u("#{@post.url}"), :target=>["_blank"] do %>
            <div class="btn btn-info" id="post-detail-tweet-button">
              Twitterに投稿
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
    <% if @post.user_id == current_user.id %>
      <% if @feed_items.any?  %>
        <div class="container" id="feedback-feed-container">
          <h4 class="mb-3">レビュー<%= @post.review_count %>件</h4>
          <%= render @feed_items %>
        </div>
        <%= paginate @feed_items %>
      <% end %>
    <% else %>
      <%= render 'feedbacks/form' %>
    <% end %>
  <% else %>
    <%= render 'feedbacks/form' %>
  <% end %>
</div>


<script>

$('#star_rating').raty('destroy');
$('#star_rating').raty({
  size: 20,
  number: 5,
  starOff: '/assets/star-off-10.png',
  starOn: '/assets/star-on-10.png',
  readOnly: true,
  score: <%= @post.rating.round %>
});
</script>
