<% set_meta_tags title: @post.title, description: @post.content,
og: { url: "https://brushapp.me/users/#{User.find(@post.user_id).nickname}/posts/#{@post.id}/feedbacks",
title: @post.title, description: @post.content, image: { url: @post.image.url} },
twitter: { title: @post.title, description: @post.content, image: @post.image.url} %>

<div class="container-fluid">
  <%= render 'shared/navbar' %>

  <% if user_signed_in? && @post.user_id == current_user.id %>
    <div>
      <!-- Sidebar -->
      <div id="sidenav" class="sidenav p-0">
        <a href="/" onclick="openNav()" id="brand">
          <img src="<%= asset_path "icon.png" %>" id="brand-icon">
          <span class="align-middle">
            BrushApp
          </span>
        </a>
        <hr class="m-0 bg-secondary" />
        <a href="<%= user_post_path(:user_id => current_user[:nickname], :id => @post.id) %>" id="project">
          <img src="<%= asset_path "home.png" %>" id="icon">
          <span class="align-middle" style="color: #cccccc;">
            Project
          </span>
        </a>
        <a href="" id="feedback">
          <img src="<%= asset_path "feedback-blue.png" %>" id="icon">
          <span class="align-middle" style="color: #4fbbef;">
            Feedback
          </span>
        </a>
        <a href="/users/<%= current_user[:nickname] %>/posts/<%= @post.id %>/edit" id="edit">
          <img src="<%= asset_path "edit.png" %>" id="icon">
          <span class="align-middle" style="color: #cccccc;">
            Edit
          </span>
        </a>
      </div>

      <!-- Page Content -->
      <div id="page-content">
          <div class="container-fluid">
            <div class="mb-5" style="font-size: 20px;">
              <a href="/" >
                Projects
              </a>
              /
              <a href="<%= user_post_path(:user_id => current_user[:nickname], :id => @post.id) %>">
                <%= @post.title %>
              </a>
              <% if @post.review_count != 0 %>
                (<%= @post.review_count %>)
              <% end %>
            </div>
            <% if @feed_items.any?  %>
              <div class="container">
                <%= render @feed_items %>
              </div>
              <%= paginate @feed_items %>
            <% else %>
              <div class="container text-center">
                <p class="mt-5" style="font-size: 20px; color: #aaaaaa;">
                  まだフィードバックがありません
                </p>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  <% else %>

    <div class="container" id="post-detail-container">
      <div class="mb-2">
        <div class="d-flex justify-content-between">
          <div>
            <%= link_to "https://twitter.com/#{User.find(@post.user_id).nickname}", :class => 'btn', :style => 'padding: 0px;', :target=>["_blank"]  do %>
              <img src="<%= User.find(@post.user_id).image %>" class="rounded-circle" id="profile-image">
            <% end %>
            <span class="align-middle " id="feedback-username"><%= User.find(@post.user_id).name %></span>
          </div>
          <% if user_signed_in? %>
            <% if @post.user_id == current_user.id %>
              <%= link_to edit_user_post_path(:user_id => current_user[:nickname], :id => @post.id), :class => 'my-auto' do %>
                <div class="btn text-info" id="edit-post">
                  投稿を編集
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <img src="<%= @post.image.url %>" class="img-fluid">
      <div class="text-left mt-3">
        <span id="post-title"><%= @post.title %></span>
      </div>
      <div class="text-left">
        <span class="font-weight-light" id="post-content"><%= @post.content %></span>
      </div>
      <% if user_signed_in? %>
        <% if @post.user_id == current_user.id %>
          <div class="mt-3">
            <% if @post.rating != nil && @post.rating != 0 %>
              <span id="rating"><%= @post.rating.round(1) %></span>
            <% end %>
            <span id='star_rating'></span>
            <span id="rating-count">
              <% if @post.rating_count != nil && @post.rating_count != 0 %>
                <%= @post.rating_count %>人が評価しています
              <% else %>
                まだ評価されていません
              <% end %>
            </span>
          </div>
        <% else %>
          <p class="mt-4 text-secondary m-0" id="rating-count">
            <% if @post.rating_count != nil && @post.rating_count != 0 %>
              現在<%= @post.rating_count %>人が評価しています
            <% end %>
          </p>

        <% end %>
      <% end %>

      <div class="d-flex justify-content-between">
        <%= link_to @post.url, :target=>["_blank"] do %>
          <div class="btn btn-outline-info" id="url-button">
            プロダクトを見る
          </div>
        <% end %>
        <% if user_signed_in? %>
          <% if @post.user_id == current_user.id %>
            <%= link_to "https://twitter.com/intent/tweet?text="+u("#{@post.title}をリリースしました！\n")+"&url="+"https://brushapp.me/users/#{User.find(@post.user_id).nickname}/posts/#{@post.id}/feedbacks", :target=>["_blank"] do %>
              <div class="btn btn-info" id="post-detail-tweet-button">
                Twitterに投稿
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= render 'feedbacks/form' %>
  <% end %>
</div>

<script>
$('#star_rating').raty('destroy');
$('#star_rating').raty({
  size: 20,
  number: 5,
  starOff: '<%= asset_path "star-off-10.png" %>',
  starOn: '<%= asset_path "star-on-10.png" %>',
  readOnly: true,
  score: <%= @post.rating.round %>
});
</script>
