<% set_meta_tags noindex: true %>
<div class="container-fluid">

  <%= render 'shared/navbar' %>

  <%= form_for @post, :url => {:action => 'update'} do |f| %>
    <div class="row">
      <div class="container-fluid">
        <div class="col-md-6 mx-auto">
          <p class="mt-3">サービスの画像</p>
          <%= image_tag @post.image.url, :id => "image_preview", :size => '600x400', :class => 'img-fluid' %>
        </div>
      </div>
      <div class="container-fluid" id="file-form">
        <div class="col-md-6 mx-auto">
          <span class="image">
            <%= f.file_field :image, id: :post_image, accept: 'image/jpeg, image/png, image/jpg'  %>
          </span>
          <p class="text-danger">
            <%= @post.errors.messages[:image][0] if @post.errors.messages[:image].any? %>
          </p>
        </div>
      </div>
      <div class="container-fluid" id="title-form">
        <div class="col-md-6 form-group mx-auto">
          <label>サービス・アプリ名</label>
          <%= f.text_field :title, class: "form-control", placeholder: "例： StartDash" %>
          <p class="text-danger">
            <%= @post.errors.messages[:title][0] if @post.errors.messages[:title].any? %>
          </p>
        </div>
      </div>
      <div class="container-fluid" id="content-form">
        <div class="col-md-6 form-group mx-auto">
          <label>説明</label>
          <%= f.text_area :content, class: "form-control", placeholder: "例： 自分が作ったものをSNSで簡単にシェア、フィードバック管理ができるサービス" %>
          <p class="text-danger">
            <%= @post.errors.messages[:content][0] if @post.errors.messages[:content].any? %>
          </p>
        </div>
      </div>
      <div class="container-fluid" id="url-form">
        <div class="col-md-6 form-group mx-auto">
          <label>サービスへのURL</label>
          <%= f.text_field :url, class: "form-control" %>
          <p class="text-danger">
            <%= "URLを入力してください" if @post.errors.messages[:url].any? %>
          </p>
        </div>
      </div>
      <div class="container text-center mb-5" id="post_button">
        <%= f.submit "更新する", class: "btn btn-info", style: "width: 150px;" %>
      </div>
    </div>
  <% end %>

  <%= link_to user_post_path(:user_id => current_user[:nickname], :id => @post.id), :method => :delete, data: {confirm: "本当に削除しますか？"} do %>
    <div class="text-center">
      <div class="btn text-danger" id="delete-post">
        投稿を削除
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('#post_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 1) {
      alert('Maximum file size is 1MB. Please choose a smaller file.');
    }
  });
</script>
<script type="text/javascript">
  $(function() {
   function readURL(input) {
     if (input.files && input.files[0]) {
       var reader = new FileReader();
       reader.onload = function (e) {
         $('#image_preview').attr('src', e.target.result);
       }
       reader.readAsDataURL(input.files[0]);
     }
   }
   $("#post_image").change(function(){
     readURL(this);
   });
  });
</script>
