<% set_meta_tags noindex: true %>
<div class="container-fluid">

  <%= render 'shared/navbar' %>

  <%= form_for @post, :url => {:action => 'create'} do |f| %>
    <div class="row">
      <div class="container-fluid">
        <div class="col-md-6 mx-auto">
          <p class="mt-3" id="new-text">プロダクトの画像(サイズ：1200x630推奨)</p>
          <%= image_tag "noimage.png", :id => "image_preview", :class => 'img-fluid' %>
        </div>
      </div>
      <div class="container-fluid" id="file-form">
        <div class="col-md-6 mx-auto">
          <span class="image" id="file-text">
            <%= f.file_field :image, id: :post_image, accept: 'image/jpeg, image/png, image/jpg'  %>
          </span>
          <p class="text-danger">
            <%= @post.errors.messages[:image][0] if @post.errors.messages[:image].any? %>
          </p>
        </div>
      </div>
      <div class="container-fluid" id="title-form">
        <div class="col-md-6 form-group mx-auto">
          <p id="new-text">プロダクト名</p>
          <%= f.text_field :title, value: @post.title, class: "form-control", placeholder: "例： BrushApp" %>
          <p class="text-danger">
            <%= @post.errors.messages[:title][0] if @post.errors.messages[:title].any? %>
          </p>
        </div>
      </div>
      <div class="container-fluid" id="content-form">
        <div class="col-md-6 form-group mx-auto">
          <p id="new-text">説明</p>
          <%= f.text_area :content, value: @post.content, class: "form-control", placeholder: "例： プロダクトをSNSに簡単にシェアでき、もらったフィードバックを管理できるサービス" %>
          <p class="text-danger">
            <%= @post.errors.messages[:content][0] if @post.errors.messages[:content].any? %>
          </p>
        </div>
      </div>
      <div class="container-fluid" id="url-form">
        <div class="col-md-6 form-group mx-auto">
          <p id="new-text">プロダクトへのURL</p>
          <%= f.text_field :url, value: @post.url, class: "form-control", placeholder: "https://" %>
          <p class="text-danger">
            <%= "URLを入力してください" if @post.errors.messages[:url].any? %>
          </p>
        </div>
      </div>
      <div class="container text-center mb-5" id="post_button">
        <%= f.submit "投稿する", class: "btn btn-info", style: "width: 150px;" %>
      </div>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  $(function() {
   function readURL(input) {
     if (input.files && input.files[0]) {
       var reader = new FileReader();
       reader.onload = function (e) {
         $('#image_preview').attr('src', e.target.result);
       }
       reader.readAsDataURL(input.files[0]);
     }
   }
   $("#post_image").change(function(){
     readURL(this);
   });
  });
</script>
